.navconteiner{
    background-color: #02432b;
    height: 10%;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 2;
}


/* LOGO */
.imgNav{
    width: 25%;
    height: 100%;
}
.imageNav{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* RESERVA AHORA - BUTTON*/
.buttonNavRA{
    display: flex;
    background-color: #02432b;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

.buttonRA{
    border: none;
    background-color: yellow;
    color: rgb(0, 0, 0);
    font-weight: bold;
    min-width: 160px;
    height: 100%;
    font-size: 100%;
    object-fit: cover;
    cursor: pointer;
}

.buttonRA:hover{
    transition: all 0.4s;
    background-color: #003320;
}

.buttonRA:not(:hover){
    transition: all 0.4s;
}

/* BUTTONS LANDING */

.buttonNav{
    display: flex;
    width: 35%;
    gap: 10px;
}

.buttonLand{
    border: none;
    background-color: #02432b;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 100%;
}

.buttonLand:hover{
    background-color: #003320;
    transition: all 0.4s;
    cursor: pointer;
}

.buttonLand:not(:hover){
    transition: all 0.4s;
}

@media screen and (max-width: 1000px) {
    .buttonLand{
        display: none;
    }
    .imgNav{
        width: 60%;
        height: 100%;
    }
    .buttonRA{
        display: none;
    }
    .navconteiner{
        background-color: #02432b;
        height: 8%;
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 2;
    }
}